div {
  height: 60vh;
  margin-left: 10%;
  margin-top: 10%;
}
table {
  border: 2px solid black;
  align-items: center;
  width: 70vw;
  height: 30vh;
  text-align: center;
  background-color: rgb(202, 196, 196);
}
thead,
th,
tr,
td {
  border: 2px solid black;
  cursor: pointer;
}
